/* Definições gerais, tamanho da fonte, cor de fundo, familia da fonte ... */
html,
body{
	background-color: rgb(40, 74, 55);
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;	
	font-size:62.5%; /* Utilizar valores de tamanho da fonte com a medida de em */
}

/* === Cabeçalho do formulário */
header{
	width: 100%;
	height: 70px;
	background-color: rgb(76, 175, 80);
	text-align: center;
	padding-top: 1.5px;
	font-size: 3em;
}

/* === Título no cabeçalho */
header h3{
	color: #ffffff;
	text-shadow: 1px 1px #2c3e50;
}


/* Wrapper do formulário*/
.square-form {
	background-color: rgb(245, 245, 245);
	position: relative;
	margin: auto;
	box-shadow: 0 8px 6px -6px black;
	max-width: 470px;
}

.flex-container{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
	padding: 1.5em;
	font-size: 2.5em;
}

/* === Botões do formulario */
/* Texto, telefone e email*/
input[type=text], input[type=email], input[type=tel] {	
	padding: 12px 20px;
	border: 1px solid #2ecc71;
	margin-bottom: 0.7em;
}

/* Botões (propriedades em comum) */
button[type=submit], button[type=cancel]{
  padding: 15px 45px;
  font-size: 1.1em;    
	line-height: 1.8;
	border: none;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;	
	margin-top: 1.5em;
	color: #ffffff;	
	text-align: center;	
	margin-left: 4px;
}

/* Botão de submit cores*/
button[type=submit]{
	background-color: rgb(76, 175, 80);	
}

/* Botão de cancelar estilo hover*/
button[type=cancel] {
	background-color: rgb(244, 67, 54);
}

/* Hover */
button[type=submit]:hover{
	background-color: rgb(102, 187, 106);	
}

/* Botão de cancelar estilo hover*/
button[type=cancel]:hover {
	background-color: rgb(239, 83, 80);	
}

/* Posicionamento e tamanho de botões */
.flex-buttons{
	max-width: 470px;	
}

.flex-item {
	display: -webkit-flex;
	display: flex;	
	justify-content: center;
	
}


